.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-bottom: 2%;
}

.contact-inner {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linkedin-tag {
    width: 3.5rem;
    height: 100%;
    margin-right: 10%;
}

.linkedin-img {
    height: 100%;
    width: 100%;
}

/* button */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  overflow: hidden;
  border-radius: 0.8rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  width: 9.3rem;
  height: 2.9rem;
  background-color: #74059d;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button span {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
  font-size: 1.2rem;
  transition: width 0.5s ease-in-out;
  width: 100%;
  font-weight: 600;
}

.button .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  background-color: #c7a4ed;
  transition: width 0.5s ease-in-out;
  right: 0;
}

.button .icon .fa {
  font-size: 22px;
  vertical-align: middle;
  font-weight: 400;
  transition: font-size 0.3s ease-in-out;
}

.button:hover span {
  width: 0;
  padding: 0;

}

.button:hover .icon {
  width: 100%;
}

.button:hover .icon .fa {
  font-size: 35px;
  transition-delay: 0.2s; /* Delay the transition for smoother effect */
}

@media (max-width: 600px) {
    .button-container {
      display: none;
    }
    .linkedin-tag {
        width: 22%;
    }
  }
  